@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.team .team_member .team_img i {
  font-size: 5rem;
  color: #ffc451;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  left: 20px;

}

.team .team_member {
  background: #222;
  margin: 18px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member .ul-team_member-3{
  margin-top: 58px;
}

.team .team_member ul li{
  font-size: 1.4rem;
  text-align: left;
  list-style: none;
  margin: 1rem 0 1rem 0;
}

.team .team_member h3 {
  color: #ffc451;
  font-size: 26px;
  margin: 50px 0 40px 0;
}

.team .team_member .h3-1{
  margin-top: 68px;
}

.team .team_member .h3-3{
  margin-top: 48px;
}

.team .team_member ul li i{
 margin-right: 0.5rem;
}

.team .team_member .ul-team_member-1{
  margin-top: 64px;
}

.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
}

