.services .heading-6 {
  color: #fff;
  font-size: 3.6rem;
  text-align: center;
  padding-bottom: 24px;
}
.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .box:hover {
  border: 0.2rem solid #AC870C;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #AC870C;
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.vermais {
  width: 50%;
  height: 3rem;
  background-color: #AC870C;
  margin-top: 2rem;
}
.vermais a {
  width: 100%;
  height: 100%;
  color: #fff;
}
.vermais:hover {
  color: #fff;
  background-color: #d3a342;
  transform: scale(1.03);
}
